body {
  font-family:monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  color: white;
  background-color: black;
  width: 100%;
}
/*-----------------------------------------------REGISTRATION SECTION------------------------------------*/
.register-container{
  width: 95%;
  max-width: 100rem;
  margin-top: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-title{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0;
}
.register-form{
  width: 100%;
  margin: 30px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input, label{
  width: 80%;
  max-width: 600px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
